# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env
.venv/
venv/

# Database files
data/*.db

# Log files
logs/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/
*.pt
